* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-h1 {
  margin-top: 100px;
  font-size: 26px;
  text-align: center;
}

.custom-h2 {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
}

.custom-h3 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
  padding: 0 10em;
}

body {
  background: f1fbff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

main {
  flex: 1;
}

.section-padding {
  padding: 100px 0;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: black;
}
.navbar-light .navbar-brand {
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.img {
  width: 2rem;
  height: 2rem;
}

.my-footer {
  background-color: #3b3b3b;
}

.my-footer footer {
  background: #3b3b3b;
  margin-top: 10px;
  padding: 30px 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 50px;
}

.my-footer .navbar-brand1 {
  color: rgb(240, 216, 80);
  padding: 10px;
}

.my-footer .navbar-brand1:hover {
  text-decoration: underline;
}

table {
  width: auto;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 0.5em;
  border-bottom: 1px solid;
  text-align: center;
}

th {
  background-color: #3b3b3b28;
}

.w-100 {
  height: 100vh;
}

.background-image::after {
  position: relative;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../src/jpg/people-g9d70258d7_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25; /* Setze die Transparenz des Bildes hier auf den gewünschten Wert (0.0 - 1.0) */
  z-index: -1;
}

/* === responsive css === */
/*media queries --> @media <media-type> and (expression){}*/

/*tablet*/
@media only screen and (max-width: 767px) {
  .navbar-brand {
    display: block; /* Zeige die Überschrift als Blockelement an */
    text-align: left; /* Zentriere den Text */
    width: auto; /* Feste Breite für das Element festlegen */
    word-break: normal; /* Teilt den Text auf mehrere Zeilen auf */
  }

  .navbar-light .navbar-brand {
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .navbar-toggler .navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
  }

  .my-footer footer {
    background: #3b3b3b;
    width: 100%;
    height: 10%;
    align-items: center;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 10px;
  }

  .img {
    text-align: left;
    width: 2rem;
    height: 2rem;
  }

  background-image {
    width: 1rem;
    height: 1rem;
  }

  p {
    font-size: 16px;
    text-align: center;
    padding: 0 2em;
  }

  .custom-h1 {
    margin-top: 50px;
    font-size: 26px;
    text-align: center;
  }
}

/*bigger tablet*/
@media only screen and (max-width: 767px) and (max-width: 991px) {
}

/*mobile devices*/
@media only screen and (max-width: 480px) {
}
